<div class="conteiner">
  <div class="main">
      <a>City:</a><input type="text" [(ngModel)]="city" (keydown)="onKeydown($event)">
      <button (click)="getWeather()" class="green">Weather</button>

  <br>
  
  <div *ngIf="!show && showError">
    Error: 404 City not found.
  </div>
   <div *ngIf="show">
     <table>
        <tr><td colspan="2">{{currentWeather$.name}}, {{currentWeather$.sys.country}}</td></tr>
        <tr><td colspan="2">Lon:{{currentWeather$.coord.lon}}, Lat:{{currentWeather$.coord.lat}}<tr><td>
        <tr>
          <td class="width"><img src="assets/img/{{currentWeather$.weather[0].icon}}.png"></td>
          <td class="align-left">{{currentWeather$.main.temp - 275.15}} °C</td>
        </tr>
        <tr><td colspan="2">Min: {{currentWeather$.main.temp_min - 275.15}} °C, Max: {{currentWeather$.main.temp_max - 275.15}} °C</td></tr>
        <tr><td colspan="2">Wind: {{currentWeather$.wind.speed}} m/s</td></tr>
        <tr><td colspan="2">Description: {{currentWeather$.weather[0].description}}</td></tr>
        <tr><td colspan="2">Date: {{currentWeather$.dt*1000| date:'dd.MM.yyyy'}}</td></tr>
        <tr><td colspan="2">Sunrise: {{currentWeather$.sys.sunrise * 1000| date:'HH:mm:ss'}}, Sunset: {{currentWeather$.sys.sunset * 1000 | date:'HH:mm:ss'}}</td></tr>
     </table>
    </div>
  </div>
</div>

<div class="forecast" *ngIf="show">
  <Table>
    <tr *ngFor="let forcast of forcasts.list">
      <Table class="innerTable">
        <tr><td>Date: {{forcast.dt*1000|date: 'dd.MM.yyyy HH:mm'}}h</td></tr>
        <img src="assets/img/{{forcast.weather[0].icon}}.png">
        <tr><td>Temperature: {{forcast.main.temp-275.15}} °C</td></tr>
        <tr><td>Min: {{forcast.main.temp_min-275.15}} °C, Max: {{forcast.main.temp_max-275.15}} °C</td></tr>
        <p>Description: {{forcast.weather[0].description}}</p>
        <tr><td>Humidity: {{forcast.main.humidity}} %</td></tr>
        <tr><td>Clouds: {{forcast.clouds.all}} %</td></tr>
        <tr><td>Wind Speed: {{forcast.wind.speed}} m/s, Deg: {{forcast.wind.deg}}</td></tr>
      </Table>
      <br>
    </tr>
  </Table>
</div>
