.main{
    width: 500px;
    text-align: center;
    background: #444444;
    color: white;
}
.conteiner{
    padding-left: 300px;
}
.innerTable{
    background-color:  #0000ff;
    color: white;
}
.green{
    background-color: green;
}